<div id="side-nav" class="qp-ui" data-qp-ui="{ 'SideNavDrawer': {} }">
    <div class="side-nav-wrapper">
        <span id="logo">UX Design</span>
        <nav>
            <dl>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Introduction</dt>
                <dd>
                    <a class="" href="../introduction/process.html">Process</a>
                    <a class="" href="../introduction/team.html">Team</a>
                </dd>
                <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Concerto v.1</dt>
                <dd class="submenu">
                  <dl>
                    <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Curated Collection</dt>
                    <dd>
                        <a class="" href="../2-2-collection/01-discovery.html">Discovery</a>
                        <a class="" href="../2-2-collection/02-ideation.html">Ideation</a>
                        <a class="" href="../2-2-collection/03-wireframe.html">Wireframe</a>
                        <a class="" href="../2-2-collection/04-prototype.html">Prototype</a>
                        <a class="" href="../2-2-collection/05-usertesting.html">User Testing</a>
                        <a class="" href="../2-2-collection/06-experiencemapping.html">Experience Mapping</a>
                        <a class="" href="../2-2-collection/07-brand.html">Front-end: Chiller Brand</a>
                    </dd>
                    <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Filter Listing</dt>
                    <dd>
                        <a class="" href="../2-3-filter-listing/01-discovery.html">Discovery</a>
                        <a class="" href="../2-3-filter-listing/02-ideation.html">Ideation</a>
                        <a class="" href="../2-3-filter-listing/03-wireframe.html">Wireframe</a>
                        <a class="" href="../2-3-filter-listing/04-prototype.html">Prototype</a>
                        <a class="" href="../2-3-filter-listing/05-usertesting.html">User Testing</a>
                        <a class="" href="../2-3-filter-listing/06-experiencemapping.html">Experience Mapping</a>
                    </dd>
                    <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Video Metadata</dt>
                    <dd>
                        <a class="" href="../2-2-video-metadata/04-prototype.html">Prototype</a>
                        <a class="" href="../2-2-video-metadata/05-usertesting.html">User Testing</a>
                        <a class="" href="../2-2-video-metadata/06-experiencemapping.html">Experience Mapping</a>
                    </dd-->
                    <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Cast &amp; Role</dt>
                    <!--dd>
                        <a class="" href="../2-2-collection/01-discovery.html">Discovery</a>
                        <a class="" href="../2-2-collection/02-ideation.html">Ideation</a>
                        <a class="" href="../2-2-collection/03-wireframe.html">Wireframe</a>
                        <a class="" href="../2-2-collection/04-prototype.html">Prototype</a>
                        <a class="" href="../2-2-collection/05-usertesting.html">User Testing</a>
                        <a class="" href="../2-2-collection/06-experiencemapping.html">Experience Mapping</a>
                        <a class="" href="../2-2-collection/07-brand.html">Brand</a>
                    </dd-->
                    <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Media Gallery</dt>
                    <!--dd>
                        <a class="" href="../2-2-collection/01-discovery.html">Discovery</a>
                        <a class="" href="../2-2-collection/02-ideation.html">Ideation</a>
                        <a class="" href="../2-2-collection/03-wireframe.html">Wireframe</a>
                        <a class="" href="../2-2-collection/04-prototype.html">Prototype</a>
                        <a class="" href="../2-2-collection/05-usertesting.html">User Testing</a>
                        <a class="" href="../2-2-collection/06-experiencemapping.html">Experience Mapping</a>
                        <a class="" href="../2-2-collection/07-brand.html">Brand</a>
                    </dd-->
                    <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Bulk Actions</dt>
                    <!--dd>
                        <a class="" href="../2-2-collection/01-discovery.html">Discovery</a>
                        <a class="" href="../2-2-collection/02-ideation.html">Ideation</a>
                        <a class="" href="../2-2-collection/03-wireframe.html">Wireframe</a>
                        <a class="" href="../2-2-collection/04-prototype.html">Prototype</a>
                        <a class="" href="../2-2-collection/05-usertesting.html">User Testing</a>
                        <a class="" href="../2-2-collection/06-experiencemapping.html">Experience Mapping</a>
                        <a class="" href="../2-2-collection/07-brand.html">Brand</a>
                    </dd-->
                    <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Focal Rectangle</dt>
                    <!--dd>
                        <a class="" href="../2-2-collection/01-discovery.html">Discovery</a>
                        <a class="" href="../2-2-collection/02-ideation.html">Ideation</a>
                        <a class="" href="../2-2-collection/03-wireframe.html">Wireframe</a>
                        <a class="" href="../2-2-collection/04-prototype.html">Prototype</a>
                        <a class="" href="../2-2-collection/05-usertesting.html">User Testing</a>
                        <a class="" href="../2-2-collection/06-experiencemapping.html">Experience Mapping</a>
                        <a class="" href="../2-2-collection/07-brand.html">Brand</a>
                    </dd-->
                    <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Focal Point</dt>
                    <!--dd>
                        <a class="" href="../2-2-collection/01-discovery.html">Discovery</a>
                        <a class="" href="../2-2-collection/02-ideation.html">Ideation</a>
                        <a class="" href="../2-2-collection/03-wireframe.html">Wireframe</a>
                        <a class="" href="../2-2-collection/04-prototype.html">Prototype</a>
                        <a class="" href="../2-2-collection/05-usertesting.html">User Testing</a>
                        <a class="" href="../2-2-collection/06-experiencemapping.html">Experience Mapping</a>
                        <a class="" href="../2-2-collection/07-brand.html">Brand</a>
                    </dd-->
                    <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Image Styles</dt>
                    <!--dd>
                        <a class="" href="../2-2-collection/01-discovery.html">Discovery</a>
                        <a class="" href="../2-2-collection/02-ideation.html">Ideation</a>
                        <a class="" href="../2-2-collection/03-wireframe.html">Wireframe</a>
                        <a class="" href="../2-2-collection/04-prototype.html">Prototype</a>
                        <a class="" href="../2-2-collection/05-usertesting.html">User Testing</a>
                        <a class="" href="../2-2-collection/06-experiencemapping.html">Experience Mapping</a>
                        <a class="" href="../2-2-collection/07-brand.html">Brand</a>
                    </dd-->
                    <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Asset Library &amp; Media</dt>
                    <!--dd>
                        <a class="" href="../2-2-collection/01-discovery.html">Discovery</a>
                        <a class="" href="../2-2-collection/02-ideation.html">Ideation</a>
                        <a class="" href="../2-2-collection/03-wireframe.html">Wireframe</a>
                        <a class="" href="../2-2-collection/04-prototype.html">Prototype</a>
                        <a class="" href="../2-2-collection/05-usertesting.html">User Testing</a>
                        <a class="" href="../2-2-collection/06-experiencemapping.html">Experience Mapping</a>
                        <a class="" href="../2-2-collection/07-brand.html">Brand</a>
                    </dd-->
                    <dt class="qp-ui" data-qp-ui="{ 'SideNavZippy': false }">Resources</dt>
                    <dd>
                        <a class="" href="../resources/observers-guide.html">Observer's Guide</a>
                    </dd>
                    <dt class="qp-ui is-plain" data-qp-ui="{ 'SideNavZippy': false }">* Work in Progress</dt>
                  </dl>
                </dd>
            </dl>
        </nav>
    </div>
</div>
