<div id="side-nav" class="qp-ui" data-qp-ui="{ 'SideNavDrawer': {} }">
  <div class="side-nav-wrapper">

    <a id="logo" href="../introduction/index.html">
      <h5>MVPD</h5>
      <!-- <span>Multi-Video Platform Distributor</span> -->
    </a>

    <nav>
      <dl>
        <div class="menu__header js-menuHeader" onclick="window.open('../discovery/index.html', '_self');">Discovery</div>

        <div class="menu__header js-menuHeader" onclick="window.open('../requirements/index.html', '_self');"">Requirements</div>

        <div class="menu__header js-menuHeader" onclick="window.open('../wireframes/index.html', '_self');">Wireframe</div>
      </dl>
    </nav>

    <a target="_blank" href="//portfolio.nbcuxlab.com">
      <div id="logo" class="logo--bottom">
        <img src="../imgs/icons/nbcuxlab.svg" alt="NBC UX Lab" style="height:30px;">
        <span>NBCUX LAB</span>
      </div>
    </a>
  </div>
</div>
</div>